* {
    padding: 0;
    margin: 0;
}

body {
    font: 16px 'Roboto';
}

.conteiner {
    width: 1024px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
}

.contacts {
    text-align: left;
    margin-left: 200px;
}
li{
    margin: 10px 0;    
}
.header img {
    position: absolute;
    width: 150px;
    height: 150px;
    padding-top: 85px;
}

.photo {
    display: inline-block;
}
.skills{padding-bottom: 20px;

}
.overview{
    padding-left: 20px;
}
h2 {
    text-align: left;
    color: #2c3e50;
    margin: 20px 0; 
}

table{
    width: 80%;
}
th{
    text-align: left;
}
td, th{
    padding: 5px;
}
.skillSet td:nth-child(2), td:nth-child(3){
    text-align: center;
}
.heading{
    background-color: rgb(230, 231, 232);
    font-size: 18px;
}
.description{
    font-size: 12px;
    color: rgb(152, 152, 153);
    font-style: italic;
}

p {
    text-align: left;
    color: #34495e;
    line-height: 25px;
}

a {
    text-decoration: none;
    color: #3498db;
}
